 <!-- START REVOLUTION SLIDER 5.0 -->
 <div class="slidet-top-margin">
    <div id="rev_slider_110_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="rotating-words82" style="background-color:#e5e5e5;padding:0px;"> 
      <!-- START REVOLUTION SLIDER 5.0.7 fullscreen mode -->
      <div id="rev_slider_110_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.0.7">
        <ul>
          <!-- SLIDE  -->
          <li data-index="rs-333" data-transition="fade" data-slotamount="default"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-rotate="0"  data-saveperformance="off"  data-title="Intro" data-description=""> 
            <!-- MAIN IMAGE --> 
            <img src="images/revolution-slider/slider-bg3.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina> 
            <!-- LAYERS --> 
            
            <!-- LAYER NR. 1 -->
            <div class="tp-caption tp-shape tp-shapewrapper   rs-parallaxlevel-0" 
									 id="slide-333-layer-10" 
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
									 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
												data-width="full"
									data-height="full"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
						 
									 data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
									 data-transform_out="s:300;s:300;" 
									data-start="0" 
									data-basealign="slide" 
									data-responsive_offset="on" 
									data-responsive="off"
									
									style="z-index: 5;background-color:rgba(41, 46, 49, 0.25);border-color:rgba(0, 0, 0, 0.50);"> </div>
            
            <!-- LAYER NR. 2 -->
            <div class="tp-caption RotatingWords-TitleWhite   tp-resizeme  toblur rs-parallaxlevel-0" 
									 id="slide-333-layer-1" 
									 data-x="['right','right','center','center']" data-hoffset="['690','580','0','0']" 
									 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','-140','-102']" 
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
						 
									 data-transform_in="x:-50px;opacity:0;s:1500;e:Power3.easeInOut;" 
									 data-transform_out="s:300;s:300;" 
									data-start="750" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" 

									
									style="z-index: 6; white-space: nowrap;">{{ .Params.subtitle }}</div>
            
            <!-- LAYER NR. 3 -->
            <div class="tp-caption RotatingWords-TitleWhite tp-resizeme tounblur rs-parallaxlevel-0" 
									 id="slide-333-layer-11" 
									 data-x="['left','left','center','center']" data-hoffset="['570','460','0','0']" 
									 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','-42','-42']" 
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
						 
									 data-transform_in="sX:0.8;sY:0.8;opacity:0;s:500;e:Power4.easeOut;" 
									 data-transform_out="sX:0.9;sY:0.9;opacity:0;s:500;e:Power3.easeIn;s:500;e:Power3.easeIn;" 
									data-start="1500" 
									data-splitin="chars" 
									data-splitout="chars" 
									data-responsive_offset="on" 

									data-elementdelay="0.1" 
									data-endelementdelay="0.03" 
									 data-end="4000" 

									style="z-index: 7; white-space: nowrap; color: rgba(28, 182, 191, 1.00);">{{ .Params.title1 }}</div>
            
            <!-- LAYER NR. 4 -->
            <div class="tp-caption RotatingWords-TitleWhite   tp-resizeme  tounblur rs-parallaxlevel-0" 
									 id="slide-333-layer-13" 
									 data-x="['left','left','center','center']" data-hoffset="['570','460','0','0']" 
									 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','-42','-42']" 
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
						 
									 data-transform_in="sX:0.8;sY:0.8;opacity:0;s:500;e:Power3.easeOut;" 
									 data-transform_out="sX:0.9;sY:0.9;opacity:0;s:500;e:Power3.easeIn;s:500;e:Power3.easeIn;" 
									data-start="4510" 
									data-splitin="chars" 
									data-splitout="chars" 
									data-responsive_offset="on" 

									data-elementdelay="0.1" 
									data-endelementdelay="0.03" 
									 data-end="7010" 

									style="z-index: 8; white-space: nowrap; color: rgba(28, 182, 191, 1.00);">{{ .Params.title2 }}</div>
            
            <!-- LAYER NR. 5 -->
            <div class="tp-caption RotatingWords-TitleWhite tp-resizeme tounblur rs-parallaxlevel-0" 
									 id="slide-333-layer-14" 
									 data-x="['left','left','center','center']" data-hoffset="['570','460','0','0']" 
									 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','-42','-42']" 
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
						 
									 data-transform_in="sX:0.8;sY:0.8;opacity:0;s:500;e:Power3.easeOut;" 
									 data-transform_out="sX:0.9;sY:0.9;opacity:0;s:500;e:Power3.easeIn;s:500;e:Power3.easeIn;" 
									data-start="7490" 
									data-splitin="chars" 
									data-splitout="chars" 
									data-responsive_offset="on" 

									data-elementdelay="0.1" 
									data-endelementdelay="0.03" 
									 data-end="9990" 

									style="z-index: 9; white-space: nowrap; color: rgba(28, 182, 191, 1.00);">{{ .Params.title3 }}</div>
            
            <!-- LAYER NR. 6 -->
            <div class="tp-caption RotatingWords-TitleWhite   tp-resizeme  tounblur rs-parallaxlevel-0" 
									 id="slide-333-layer-15" 
									 data-x="['left','left','center','center']" data-hoffset="['570','460','0','0']" 
									 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','-42','-42']" 
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
						 
									 data-transform_in="sX:0.8;sY:0.8;opacity:0;s:500;e:Power3.easeOut;" 
									 data-transform_out="sX:0.9;sY:0.9;opacity:0;s:500;e:Power3.easeIn;s:500;e:Power3.easeIn;" 
									data-start="10490" 
									data-splitin="chars" 
									data-splitout="chars" 
									data-responsive_offset="on" 

									data-elementdelay="0.1" 
									data-endelementdelay="0.03" 
									
									style="z-index: 10; white-space: nowrap; color: rgba(28, 182, 191, 1.00);">{{ .Params.title1 }}</div>
            
            <!-- LAYER NR. 7 -->
            <div class="tp-caption RotatingWords-Button rev-btn  rs-parallaxlevel-0" 
									 id="slide-333-layer-7" 
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
									 data-y="['middle','middle','middle','middle']" data-voffset="['127','97','130','90']" 
												data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
										data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
										data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
						 
									 data-transform_in="y:100px;sX:1;sY:1;opacity:0;s:2000;e:Power3.easeInOut;" 
									 data-transform_out="y:50px;opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
									data-start="750" 
									data-splitin="none" 
									data-splitout="none" 
									data-actions='[{"event":"click","action":"scrollbelow","offset":"0px"}]'
									data-responsive_offset="on" 
									data-responsive="off"
									
									style="z-index: 11; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">{{ .Params.button_text }}</div>
          </li>
        </ul>
        <div class="tp-static-layers"></div>
        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <!-- END OF SLIDER WRAPPER -->